@base("Thank Back") {
<div class="row featurette">
	<div class="col-md-12 text-center">
		<h2 class="featurette-heading">
			ThankBack<br /><span class="text-muted">Say thanks to birthday wishes on facebook in less than 10 seconds!</span>
		</h2>
		<p class="lead">Login with facebook account, select birthday wishes to say thanks to, done!</p>
	</div>
</div>
<br />
<div class="row featurette">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 text-center">
		<a href="https://www.facebook.com/dialog/oauth?client_id=169640416559253&redirect_uri=http://play-tech-demo.herokuapp.com/fbsignin&response_type=code&scope=@play.Play.application().configuration().getString("user_perm")" class="btn btn-primary btn-lg active" role="button">Login with Facebook</a>
	</div>
	<div class="col-md-4">
	</div>
</div>

}
