@base("Thank Back") {

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<style type="text/css">
#unicornSlider { display:inline-block }
</style>
<form method="POST" action="/finalposts" role="form" >
<input type="hidden" name="uid" id="uid" value="662924001" />
<table class="table">
	<thead>
          <tr>
            <th>Friend Name</th>
            <th>Post ID</th>
            <th>Profile URL</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          	
				<tr>
            		<td>Yatin Jayawant</td>
            		<td>662924001_10151414441614002</td>
            		<td>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/370676_100002371746433_635548358_q.jpg</td>
            		<td>Vadhadiwsachya hardik shubhechya Sidhya! :)</td>
          		</tr>			
			
				<tr>
            		<td>Vaibhav Kamble</td>
            		<td>662924001_10151414013579002</td>
            		<td>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1082935_502741656_306788654_q.jpg</td>
            		<td>Vadhadiwasachya hardik shubhechha ! </td>
          		</tr>			
			
        </tbody>
</table>
<div class="row featurette">
<div class="col-md-3">
</div>
<div class="col-md-6">

<input type="hidden" name="662924001_10151414441614002" id="662924001_10151414441614002" value="false" />
<div class="panel panel-primary" id="662924001_10151414441614002_div">
  <div class="panel-body">
  	<div class="btn-group pull-right">
        <a class="btn btn-default btn-sm" onclick="toggle_post('662924001_10151414441614002'); return false;"><span id="662924001_10151414441614002_span" class="glyphicon glyphicon-ok"></span></a>
      </div>
    <div class="media">
	<a class="pull-left" href="#"> <img class="media-object"
		src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/370676_100002371746433_635548358_q.jpg" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Yatin Jayawant</h4>
		Vadhadiwsachya hardik shubhechya Sidhya! :) 
	</div>
</div>
  </div>
</div>

<input type="hidden" name="662924001_10151414013579002" id="662924001_10151414013579002" value="false" />
<div class="panel panel-primary" id="662924001_10151414013579002_div">
  <div class="panel-body">
  	<div class="btn-group pull-right">
        <a class="btn btn-default btn-sm" onclick="toggle_post('662924001_10151414013579002'); return false;"><span id="662924001_10151414013579002_span" class="glyphicon glyphicon-ok"></span></a>
      </div>
    <div class="media">
	<a class="pull-left" href="#"> <img class="media-object"
		src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1082935_502741656_306788654_q.jpg" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Vaibhav Kamble</h4>
		Vadhadiwasachya hardik shubhechha !  
	</div>
</div>
  </div>
</div>

</div>
<div class="col-md-3">
</div>
</div>
<div class="row featurette">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 text-center">
		 <div class="form-actions"">
		 	<button type="submit" id="submitButton" class="btn btn-primary active text-center">Next</button>
		 </div>		
	</div>
	<div class="col-md-4">
	</div>
</div>
</form>
<br /><br /><br />
<div class="row text-center">
<p>
  			<label for="curTotal">Currently selected posts are </label>
  			<input type="text" id="curTotal" style="border:0; font-weight:bold;">
		</p>
		<br />
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-2 text-right">
	<strong>One</strong>
	</div>
	<div class="col-md-4">
		<input type="hidden" name="sliderr1_value" id="sliderr1_value" value="0" />
		<div id="sliderr1"></div><br /><br />
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-2 text-right">
	<strong>Two</strong>
	</div>
	<div class="col-md-4">
	<input type="hidden" name="sliderr2_value" id="sliderr2_value" value="0" />
		<div id="sliderr2"></div><br /><br />
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-2 text-right">
	<strong>Three</strong>
	</div>
	<div class="col-md-4">
	<input type="hidden" name="sliderr3_value" id="sliderr3_value" value="0" />
		<div id="sliderr3"></div><br /><br />
	</div>
	<div class="col-md-3">
	</div>
</div>
<script>

$('#submitButton').on('click', function (e) {
	console.log("I've arrived!");
	return false;
});

function toggle_post(postId)
{
	var h = document.getElementById(postId);
	var panelDiv = document.getElementById(postId + "_div");
	if(h.value == 'false') {
		$('#' + postId + '_div').removeClass('panel-primary').addClass('panel-success');
		$('#' + postId + '_span').removeClass('glyphicon-ok').addClass('glyphicon-remove');
		h.value = 'true';		
	} else {
		$('#' + postId + '_div').removeClass('panel-success').addClass('panel-primary');
		$('#' + postId + '_span').removeClass('glyphicon-remove').addClass('glyphicon-ok');
		h.value = 'false';
	}
	return false;
}

var sliders = $("#sliderr1,#sliderr2,#sliderr3");

sliders.each(function() {
	
	//console.log($(this).find('.ui-slider-handle:first'));
	
    var value = parseInt($(this).text(), 10),
        availableTotal = 400;
    
	function calcTotal( e, ui ) {
    	
		var total = 0;
		//console.log($(this).attr('id'));

        sliders.not(this).each(function() {
            total += $(this).slider("option", "value");
        });    


        var max = availableTotal - total;            

        if (max - ui.value >= 0) {
        	$("#" + $(this).attr('id') + "_value").val(ui.value)
            total += ui.value;
            //console.log(max-ui.value);
            $( "#curTotal" ).val(total);
        } else {
            return false;
        }
        
        repositionTooltip( e, ui );
        
    }
    
    function repositionTooltip( e, ui ) {
    	
        var div = $(ui.handle).data("bs.tooltip").$tip[0];
        var pos = $.extend({}, $(ui.handle).offset(), { width: $(ui.handle).get(0).offsetWidth,
                                                        height: $(ui.handle).get(0).offsetHeight
                  });
        
        var actualWidth = div.offsetWidth;
        
        tp = {left: pos.left + pos.width / 2 - actualWidth / 2}            
        $(div).offset(tp);
        
        $(div).find(".tooltip-inner").text( ui.value );
    }
    
    $(this).slider({ value: 1, max: 400, range: "min", slide: calcTotal, stop: repositionTooltip });
    $(this).find('.ui-slider-handle:first').tooltip({ title: $(this).slider("value"), trigger: "manual" }).tooltip("show");

});

</script>
}
