@base("Thank Back") {
<div class="row featurette">
<div class="col-md-3">
</div>
<div class="col-md-6">

<div class="panel panel-primary">
  <div class="panel-body">
  	<div class="btn-group pull-right">
        <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    <div class="media">
	<a class="pull-left" href="#"> <img class="media-object"
		src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/370676_100002371746433_635548358_q.jpg" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Yatin Jayawant</h4>
		Vadhadiwsachya hardik shubhechya Sidhya! :) 
	</div>
</div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
  	<div class="btn-group pull-right">
        <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    <div class="media">
	<a class="pull-left" href="#"> <img class="media-object"
		src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1082935_502741656_306788654_q.jpg" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Vaibhav Kamble</h4>
		Vadhadiwasachya hardik shubhechha ! 
	</div>
</div>
  </div>
</div>

</div>
<div class="col-md-3">
</div>
</div>

}
