@(records: List[BdayPost], userProfile: cmn.UserProfile, totalCount: Integer, notMatchedCount: Integer)

@import helper._
@import cmn._

@divId(postId: String) = @{ postId + "_div" }
@spanId(postId: String) = @{ postId + "_span" }

@base("Thank Back") {
<div class="row featurette">
	<div class="col-md-12 text-center">
		<h2 class="featurette-heading">
			Welcome&nbsp;@userProfile.userName, <span class="text-muted"></span><br /><span class="text-muted">Here are some post on which were not detected as birthday posts</span>
		</h2>
		<p class="lead">We could detect @totalCount posts as birthday wishes, @notMatchedCount were not detected automatically as birthday wishes. 
		Select which one of these are birthday wishes</p>
	</div>
</div>

@if(notMatchedCount > 0) {
<form method="POST" action="/finalposts" role="form" >
<div class="row featurette">
<div class="col-md-3">
</div>
<div class="col-md-6">
@for(record <- records) {
<input type="hidden" name="@record.postId" id="@record.postId" value="false" />
<div class="panel panel-primary" id="@divId(record.postId)">
  <div class="panel-body">
  	<div class="btn-group pull-right">
        <a class="btn btn-default btn-sm" onclick="toggle_post('@record.postId'); return false;"><span id="@spanId(record.postId)" class="glyphicon glyphicon-ok"></span></a>
      </div>
    <div class="media">
	<a class="pull-left"> <img class="media-object"
		src="@record.profilPicUrl" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">@record.friendName</h4>
		@record.postData 
	</div>
</div>
  </div>
</div>
}
</div>
<div class="col-md-3">
</div>
</div>
<div class="row featurette">
	<div class="col-md-4">
	</div>
	<div class="col-md-4 text-center">
		 <div class=”form-actions”>
		 	<button type="submit" class="btn btn-primary active text-center">Next</button>
		 </div>		
	</div>
	<div class="col-md-4">
	</div>
</div>
</form>
}
<script>
function toggle_post(postId)
{
	var h = document.getElementById(postId);
	var panelDiv = document.getElementById(postId + "_div");
	if(h.value == 'false') {
		$('#' + postId + '_div').removeClass('panel-primary').addClass('panel-success');
		$('#' + postId + '_span').removeClass('glyphicon-ok').addClass('glyphicon-remove');
		h.value = 'true';		
	} else {
		$('#' + postId + '_div').removeClass('panel-success').addClass('panel-primary');
		$('#' + postId + '_span').removeClass('glyphicon-remove').addClass('glyphicon-ok');
		h.value = 'false';
	}
	return false;
}
</script>
}
