@(records: List[BdayPost], userProfile: cmn.UserProfile, totalCount: Integer, notMatchedCount: Integer)

@import helper._
@import cmn._

@base("Thank Back") {

<div class="row featurette">
	<div class="col-md-12 text-center">
		<h2 class="featurette-heading">
			Welcome&nbsp;@userProfile.userName, <span class="text-muted"></span><br /><span class="text-muted">Here are some post on which were not detected as birthday posts</span>
		</h2>
		<p class="lead">Select which one of these are birthday wishes</p>
	</div>
</div>

<p>We could detect @totalCount posts as birthday wishes, @notMatchedCount were not detected automatically as birthday wishes</p>

@if(notMatchedCount > 0) {

<table class="table">
	<thead>
          <tr>
            <th>Friend Name</th>
            <th>Post ID</th>
            <th>Profile URL</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          	@for(record <- records) {
				<tr>
            		<td>@record.friendName</td>
            		<td>@record.postId</td>
            		<td>@record.profilPicUrl</td>
            		<td>@record.postData</td>
          		</tr>			
			}
        </tbody>
</table>
<div class="row featurette">
<div class="col-md-3">
</div>
<div class="col-md-6 text-center">
@for(record <- records) {
<div class="media">
	<a class="pull-left" href="#"> <img class="media-object"
		src="@record.profilPicUrl" alt="Generic placeholder image">
	</a>
	<div class="media-body">
		<h4 class="media-heading">@record.friendName</h4>
		@record.postData
	</div>
</div>
}
</div>
<div class="col-md-3">
</div>
</div>
}

}
